// Colors
$gray: #555;
$gray-lighter: lighten(#555555, 59);
$red: #FF0000;

// Layout
$container-gutter-width: 20px;

// Scaffolding
$base-font-size: 2em;
$base-line-height: 1.428em;
$serif-font: 'Neuton', serif;
$mono-font: 'Inconsolata', Monaco, Courier, monospace;
$text-color: $gray;


// Links
$link-color: $red;
$link-color-hover: darken($link-color, 15%);

// Code
$code-border-color: $gray-lighter;