#quiz{
  margin: 40px auto 0;

  .wrap {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $gray-light;
    text-align: center;

    .question, .answer, button {
      margin: 0 20px;
    }

    .question, .answer {
      margin-top: 20px;

      p {
        margin: 50px 20px;
      }
    }

    header {
      text-align: center;
      overflow: auto;
      background-color: $gray-lighter;
      border-bottom: 1px solid lighten($gray, 50);
      text-shadow: rgba(#fff, 0.5) 0 1px 0;
      border-top-left-radius: 5px;
      border-top-right-radius :5px;
    }

    button {
      @include button(shiny, $red);
    }

    .btn {
      @include button;
    }

    #nextQuestion {
      font-size: 16px;
    }
  }
}


.flip-container {
  @include perspective(1000);
}

.flip-container.flip .flipper {
  @include transform(rotateY(180deg));
}

.flip-container, .front, .back {
  @include box-sizing(border-box);
  width: 456px;
  height: 416px;
}


.flipper {
  @include transition(0.6s);
  @include transform-style(preserve-3d);
  position: relative;
}

.front, .back {
  @include backface-visibility(hidden);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.front {
  z-index: 2;


  .question:before {
    position: absolute;
    left: 20px;
    font-size: 10em;
    line-height: 0.5em;
    z-index: -9999;
    content: 'Q';
    color: lighten($gray, 60);
    text-shadow: rgba(#fff, 0.5) 0 1px 0;
  }
}

.back {
  @include transform(rotateY(180deg));

  .answer:before {
    position: absolute;
    left: 20px;
    font-size: 10em;
    line-height: 0.5em;
    z-index: -9999;
    content: 'A';
    color: lighten($gray, 60);
    text-shadow: rgba(#fff, 0.5) 0 1px 0;
  }
}

.slideIn {
  @include animation(slideIn 1s);
}

.slideOut {
  @include animation(slideOut 0.5s ease-in-out);
}


@include keyframes(slideIn) {
  from {
    @include transform(translateY(-600px) translateX(100%) rotate(45deg));
    @include opacity(20);
  }
  to {
    @include transform(translateY(0px) translateX(0px) rotate(0deg));
    @include opacity(100);
  }
}
@include keyframes(slideOut) {
  from {
    @include transform(translateY(0px) translateX(0px) rotate(0deg));
    @include opacity(100);
  }
  to {
    @include transform(translateY(10%) translateX(-2000px) rotate(-45deg));
    @include opacity(0);
  }
}