// CSS Reset
@import "components/normalize";

// Globals
@import "bourbon";
@import "globals/mixins";
@import "globals/variables";

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

body {
  font-family: $serif-font;
  color: $text-color;
  font-size: 62.5%; /* 1em = 10px */
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  @include transition(color 0.1s ease-in-out);

  &:hover {
    color: $link-color-hover;
    border-bottom: 1px solid $link-color-hover;
  }
}

.container {
  @include backface-visibility(hidden);
  @include perspective(1000);
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding-right: $container-gutter-width;
  padding-left: $container-gutter-width;
  @include clearfix();
}

// Sections
@import "sections/quiz";

// Components
@import "components/syntax";