<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RubyInterview.com</title>
  <link href='http://fonts.googleapis.com/css?family=Neuton|Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
